{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% include "_partials/adminnav.html.twig" %}
        <main class="col-9 border border-light bg-light p-3">
            <h1>Liste des produits</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Catégorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produit in produits %}
                        <tr>
                            <td>{{ produit.id }}</td>
                            <td>
                                {% if produit.images|length > 0 %}
                                    {% set firstImage = produit.images|first %}
                                    <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ firstImage.name) }}" alt="Image" width="100">
                                {% else %}
                                    No image
                                {% endif %}
                            </td>
                            <td>{{ produit.name }}</td>
                            <td>{{ produit.price }}</td>
                            <td>{{ produit.stock }}</td>
                            <td>
                                {% if produit.categories|length > 0 %}
                                  
                                {% else %}
                                    No category
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_products_edit', { id: produit.id }) }}" class="btn btn-success">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
